.thankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply pt-10;
}

.thankYouTitle {
  @apply text-2xl font-bold mt-6;
  color: var(--font-blue-dark);
}

.thankYouDesc {
  text-align: center;
  color: var(--font-gray-light);
  @apply mt-3 leading-7 pb-20;
}
